/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import "color_schemes/pink";
@import "color_schemes/blue";
body {
	background-color: #ccef4147;
}
.customtext{
	color: red;
}