/*
body {
	.product-menu {
		.panel-heading .panel-title > .panel-toggler {
			.category-name, .user-name, .site-name {
				color: darkkhaki;
			}
		}
	}
}
*/
/* .panel-group .panel{ */
/* 	color: blue; */
/* } */